<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>トップページ</h1>
      <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>

      <div id="header">Google Maps - 場所検索</div>

       <input type="text" id="address"><br>
      <input type="text" id="mapKeyword" name="keyword"><button id="search" onclik="search">検索</button>
      <button id="clear">結果クリア</button>
      <div id="target"></div>
      <style>
        #map {
          height: 400px;
          width: 600px}
      </style>
      <div id="map"></div>
      <script>
      var map;
      var marker;
      var infowindow;

      function initMap() {
        //  マップ初期表示の位置設定
        var target = document.getElementById('map');
        var empire = {lat: 34.5801650, lng: 135.4623190};

        // マップ表示
        map = new google.maps.Map(target, {
          center: empire,
          zoom: 8
        });
      }

      document.getElementById('search').addEventListener('click', function() {
        var place = document.getElementById('mapKeyword').value;
        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({
          address: place
        }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var bounds = new google.maps.LatLngBounds();

            for (var i in results) {
              if (results[0].geometry) {
                // 緯度経度を取得
                var latlng = results[0].geometry.location;
                // 住所を取得
                var address = results[0].formatted_address;
                // 検索結果値が含まれるように拡大
                bounds.extend(latlng);
                // マーカーのセット
                setMarker(latlng);
                // マーカーにクリックイベントを追加
                markerEvent();
              }
            }
            map.fitBounds(bounds);
            document.getElementById('address').value = latlng;
          } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
            alert("見つかりません");
          } else {
            console.log(place);
            console.log(geocoder);
            console.log(results);
            console.log(status);
            alert("エラー発生")
          }
        });
      });

      // 検索クリアボタン押下時
      document.getElementById('clear').addEventListener('click', function() {
        deleteMarkers();
      });

      // マーカのセットを実施する
      function setMarker(setplace) {
        deleteMarkers();

        var iconUrl = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
        marker = new google.maps.Marker({
          position: setplace,
          map: map,
          icon: iconUrl
        });
      }
      // マーカを削除する
      function deleteMarkers() {
        if(marker != null){
          marker.setMap(null);
        }
        marker = null;
      }

      // クリックイベント
      function markerEvent() {
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
      }
        // var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
        // var Options = {
        // zoom: 15,      //地図の縮尺値
        // center: MyLatLng,    //地図の中心座標
        // mapTypeId: 'roadmap'   //地図の種類
        // };
        // var map = new google.maps.Map(document.getElementById('map'), Options);
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

    </div>
  </div>
</div>


