<h1>Admin::Customers#index</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table>
        <h3>登録会員一覧</h3>
        <tr>
          <th>ユーザー名</th>
          <th>投稿数</th>
          <th></th>
        </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.screen_name %></td>
          <td><%= customer.travel_memories.count %>件</td>
          <td><%= link_to "詳細を見る", admin_customer_path(customer) %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>

